@page "/Index"
@inject IToastService toastService
@rendermode InteractiveServer
<PageTitle>Registro Viajes Espaciales</PageTitle>
<div>
    <button class="btn btn-outline-primary bi bi-plus-square" @onclick="Show">Presiona</button>
</div>

@code {
    void Show(){
        toastService.ShowSuccess("Boton Presionado");
    }
}
